:root {
    --white: #E9EBEA;
    --gray: #CECFD1;
    --black: #141311;
    --yellow: #FFAA00;

    --degradado-90: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    --degradado-180: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    --degradado-360: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    --degradado-radial: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}

#logo {
    cursor: pointer;
}

span, #exp {
    color: var(--yellow);
}

header {
    background: var(--degradado-radial), url("https://pedritossj7.github.io/portfolio/img/coding.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#contenedorGrafica {
    height: 70vh;
    width: 70vh;

    & #grafica {
        width: 90%;
        margin: 0 auto;
    }
}

#image1 {
    background: url("https://pedritossj7.github.io/portfolio/img/germany1.jpg");
    background-position: center;
    background-size: cover; 
}

#image2 {
    background: url("https://pedritossj7.github.io/portfolio/img/germany2.jpg");
    background-position: center;
    background-size: cover; 
}

#image3 {
    background: url("https://pedritossj7.github.io/portfolio/img/germany3.jpg");
    background-position: center;
    background-size: cover;
}

@media (max-width: 500px) {
    #contenedorGrafica {
        height: 40vh;

        & #grafica {
            width: 225px;
        }
    }
}