:root {
    --yellow: rgb(255, 217, 0);
    --black-25: rgba(25, 25, 25, .25);
    --black-50: rgba(25, 25, 25, .50);
    --black-75: rgba(25, 25, 25, .75);
    --white-50: rgba(255, 255, 255, .50);
    --degradado-90: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    --degradado-180: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    --degradado-360: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    --degradado-radial: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
}

#loadingScreen {
    position: fixed;
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 100vh;
    animation: start 1.5s ease-in forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    cursor: pointer;
}

span {
    color: var(--yellow);
}

i:hover {
    animation: selectSection 0.5s forwards;
}

header {
    background: var(--degradado-radial), url("https://pedritossj7.github.io/portfolio/img/germany4.jpg");
    background-size: contain;
}

#academic {
    background: var(--degradado-radial), url("/img/computer-workstation.jpg");
    background-size: cover;
    background-position: center;
}

.carousel-inner {
    display: flex;
    align-items: center;
}

@keyframes selectSection {
    from {
        color: white;
    }
    to {
        color: #ffd900;
    }
}

@keyframes start {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
        display: none;
    }
}

@keyframes loadingSection {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
        display: flex;
    }
}

@media (max-width: 500px) {
    #contenedorGrafica {
        height: 40vh;

        & #grafica {
            width: 225px;
        }
    }
}