:root {
    --white: #E9EBEA;
    --gray: #CECFD1;
    --black: #141311;
    --yellow: #FFAA00;

    --degradado-90: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    --degradado-180: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    --degradado-360: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    --degradado-radial: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

a {
    color: var(--yellow);
    text-decoration: none;
}

body {
    height: 100vh;
    background: url("../img/index-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-backdrop-filter: blur(5px) brightness(.5); 
    backdrop-filter: blur(5px) brightness(.5);
}

nav {
    width: 80%;

    & ul {
        background-color: rgba(0, 0, 0, .7);
    }
}

main {
    height: 80%;
}

#main2 {
    & a {
        font-size: large;
    }
}

#main1, #main2 {
    animation: start 2s forwards;
}

@keyframes start {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
        display: none;
    }
}