:root {
    --black-25: rgba(25, 25, 25, .25);
    --black-50: rgba(25, 25, 25, .50);
    --white-50: rgba(255, 255, 255, .50);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("/img/index-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 70%;
    color: white;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5% 10%;

    & #logo {
        filter: invert(1);
        width: 90%;
    }

    & nav ul {
        list-style: none;
        display: flex;

        & li {
            margin: 0 1.5rem;
            padding: 0.5rem;
            text-align: center;
        }

        & li > a > i:hover {
            color: var(--white-50);
        }

        & a {
            text-decoration: none;
            color: white;
        }
    }
}

header > a {
    display: flex;
    align-items: center;
}

main > #section1 {
    grid-area: uno;
}

main > #section2 {
    grid-area: dos;
}

main > #section3 {
    grid-area: tres;
}

main {
    display: grid;
    grid-template-areas: 
        "uno dos" 
        "uno tres";
    padding: 2%;

    & .sec {
        background-color: var(--black-50);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2%;
        margin: 2%;
        border-radius: 2%;

        & h1 {
            margin: 1% 0;
        }

        & p {
            margin: .5% 0;
        }
    }
}

@media (max-width: 850px) {
    main {
        grid-template-areas:
            "uno uno"
            "uno uno"
            "dos tres"
            "dos tres";
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;

        & #logo {
            margin-bottom: 7.5%;
        }

        & nav {
            & ul {
                flex-wrap: wrap;
                justify-content: center;

                & li {
                    padding: .25rem;
                }
            }
        }
    }

    header > a {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}